*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef5ff;
    color:#1f2937;
}

header{
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    color:white;
    padding:25px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:32px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
}

nav a:hover{
    color:#ffe066;
}

.search-section{
    padding:40px;
    text-align:center;
}

.search-section h2{
    font-size:36px;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
}

input{
    width:400px;
    padding:15px;
    border-radius:30px;
    border:1px solid #ccc;
    font-size:16px;
}

#resultCount{
    margin-top:15px;
    font-weight:bold;
    color:#2563eb;
}

.course-container{
    width:95%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
    padding-bottom:40px;
}

.card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-8px);
}

.card:focus{
    outline:3px solid #2563eb;
}

.card h3{
    color:#2563eb;
    margin-bottom:15px;
}

.card p{
    margin:8px 0;
    color:#111827;
    font-weight:600;
}

button{
    margin-top:15px;
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1d4ed8;
}

@media(max-width:768px){

header{
    flex-direction:column;
    text-align:center;
}

nav{
    margin-top:15px;
}

input{
    width:90%;
}

}